img {
  width: 500px;
  border-radius: 4px;
}

/* .album-name {
  font-size: 2rem;
} */

/* .artist-name {
  /* color: #999; */
/* font-size: 1.5rem; */
/* }

/* .tracks-title {
  font-size: 2rem;
  margin-bottom: 12px;
} */
